<h1>Añadir clientes</h1>
<hr>
<div>
  <form action="/my-handling-form-page" method="post">
    <div>
      <label for="dni">Dni:</label>
      <input type="text" id="dni" name="user_dni">
    </div>
    <br>
    <div>
      <label for="nombre">Nombre:</label>
      <input type="email" id="nombre" name="user_nombre">
    </div>
  </form>
  <br>
  <button (click)="anadirCliente()">añadir Cliente</button>
  <h1>Ingresar Dinero</h1>
  <hr>
  <form action="/my-handling-form-page" method="post">
    <div>
      <label for="dni_ingresar">Dni:</label>
      <input type="text" id="dni_ingresar" name="user_dni_ingresar">
    </div>
    <br>
    <div>
      <label for="cantidad_ingresada">Cantidad ingresada:</label>
      <input type="email" id="cantidad_ingresada" name="user_cantidad_ingresada">
    </div>
  </form>
  <br>
  <button (click)="ingresarCantidad()">Ingresar Cantidad</button>
  <br>
  <h1>Quitar Cantidad</h1>
  <hr>
  <form action="/my-handling-form-page" method="post">
    <div>
      <label for="dni_ingresar">Dni:</label>
      <input type="text" id="dni_ingresar" name="user_dni_ingresar">
    </div>
    <br>
    <div>
      <label for="cantidad_quitar">Cantidad quitar:</label>
      <input type="email" id="cantidad_quitar" name="user_cantidad_quitar">
    </div>
  </form>
  <br>
  <button (click)="quitarCantidad()">Quitar Cantidad</button>
  <br>
  <h1>Obtener clientes</h1>
  <hr>
  <button (click)="obtenerClientes()">Obtener clientes</button>
  <br>
  <br>
  <textarea name="clientes" id="clientes" cols="150" rows="20"></textarea>
</div>
